@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face
  font-family Rustica
  font-style normal
  src url('/static/fonts/rustica.woff')

@font-face
  font-family Aileron
  font-style normal
  src url('/static/assets/fonts/aileron.otf')