$violet = #4350f7
$darkViolet = #270c39
$black = #171e3b
$yellow= #ffc40e
$dark = #4a4a4a
$white = whitesmoke
$red = mix($violet, red,40%)

$primary = $violet
$secondary = $yellow
$danger = $red