@import "../../../../styles/partials/_theme.styl"
@import "../../../../styles/partials/_responsiveness.styl"

.Tourney__Admin
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100vh
.Dashboard__Card--alert
  background $secondary
  opacity 0.9
  margin 1rem
  display grid
  grid-template-columns 1fr
  grid-template-rows 1fr
  grid-row-gap: 1.5rem
  color $dark
  text-align: center
.Dashboard__Card__unconfirmedAlertLead
  padding-bottom 2rem
.Dashboard__Card__unconfirmedUser
  grid-column 1 / span 2
  justify-content center
  display flex
  font-size 1.2rem
  align-items: center
.Dashboard__Card__unconfirmedUser img
  height 65px !important
  filter: drop-shadow(0 0.15rem 0.30rem $primary);
.Dashboard__Card__unconfirmedUser *
  margin-left 2rem
  margin-right 2rem
.Dashboard__Card__unconfirmedUserAdminActions
  grid-column 1 / span 2
  display flex
  justify-content: space-around
  font-size 1rem
.Dashboard__Card__unconfirmedUserAdminActions--reject
  color $white
  border 1px solid $white
  padding 1rem
  border-radius 5px
  cursor pointer
  font-weight bold
.Dashboard__Card__unconfirmedUserAdminActions--accept
  color $white
  background $primary
  padding 1rem
  border-radius: 5px
  cursor pointer
  font-weight: bold
