@import "../../../../styles/partials/_theme.styl"
@import "../../../../styles/partials/_responsiveness.styl"

.Tourney__Admin
  display flex
  flex-direction column
  justify-content center
  align-items center
  height 100vh