@import "../../../../styles/partials/_theme.styl"
@import "../../../../styles/partials/_responsiveness.styl"

.Single__Tourney
  display flex
  flex-direction column
  justify-content center
  align-items: center
  height 100%
  @media screen and (min-height: 900px)
    height 100vh
.Single__Tourney__Details
  max-width: 90%
  margin 2rem auto
.Single__Tourney__Details__table
  color $dark
  display grid
  grid-template-columns 1fr 3fr 1fr
.Single__Tourney__Details__td
  display flex
  justify-content space-around
  align-items center
  line-height: 1.5rem
.Single__Tourney__Details__td img
  padding-left 4px
  margin-right 4px
  margin 0.5rem
.Single__Tourney__Details__th
  background-color $primary
  padding 4px
  color $white
  font-weight: bold
.Single__Tourney__nav
  margin 4rem auto
  font-weight bold
  font-size 1.1rem
  border 2px solid $white
  padding 1.2rem
  @media screen and (max-width: $tablet)
    font-size 1rem
    text-align: center
    line-height: 3rem
    max-width 80%
    display block
.Single__Tourney__nav i.fa
    @media screen and (max-width: $tablet)
      padding-top 0.45rem
.Single__Tourney__separator
  @media screen and (max-width: $tablet)
    display none
.Single__Tourney__nav *
  margin-left 4px
  margin-right 4px
  letter-spacing: 1.3
