@import "../../../../styles/partials/_theme.styl"
@import "../../../../styles/partials/_responsiveness.styl"

.Single__Tourney
  display flex
  flex-direction column
  justify-content center
  align-items: center
  height 100vh
.Single__Tourney__Details
  max-width: 90%
  margin 4rem auto
.Single__Tourney__nav
  margin 4rem auto
  font-weight bold
  font-size 1.1rem
  border 2px solid $white
  padding 1.2rem
.Single__Tourney__nav *
  margin-left 4px
  margin-right 4px
  letter-spacing: 1.3
