@import "../../../../styles/partials/_theme.styl"
@import "../../../../styles/partials/_responsiveness.styl"
@import "../../../../styles/partials/_forms.styl"


.Tourney__New
  display grid
  margin auto
  text-align center
  align-items center
  justify-content center
  height 100vh
.Tourney__New__feedback
  position relative
  bottom 10%
  line-height: 3rem
  font-size 1.2rem
  margin auto
.Tourney__New__Button-panel
    display block
    max-width 90%
    margin 2rem auto
